ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: inline-block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu li a:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul.menu li.dropdown {
    display: block;
    text-decoration: none;
}

ul.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
ul.dropdown-content li {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    float: left;
    width: 160px;
}
ul.dropdown-content li a {
    color: black;
    padding: 4px;
    text-decoration: none;
    text-align: left;
    font-size: 10pt;
    float: left;
}

ul.toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 95%;
    right: 8px;
    width: 220px;
    float: right;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul.toolbar li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-size: 10pt;
}
ul.toolbar li a:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
button.toolbar {
	background-color: #31afd4;
    border: none;
    color: white;
    font-size: 16px;
	margin: 8px;
	position: fixed;
	top: 0;
	right: 0;
	width: 220px;
	padding: 10px 0 10px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul.info {
	color: #333;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 16px 0 8px 16px;
	list-style-type: none;
}
li.matter {
	padding: 4px 0 4px 0px;
}
p.shortcut {
	padding: 0px 0 0px 40px;
}