<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Account Creation Form</title>
	 <link href="../lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body >
    
                  
	    <form ng-submit="createAccount()">
			        
			<div class="well" align="center">       
			<h1><b>Account Creation</b></h1>
			</div>
			
			
				<div  class="col-md-6" >
				    <div id="group_name" class="form-group"> 
				    
				    	<label for="group_name" class="control-label col-md-12 requiredField">Group Name :</label>
				    	<select ng-model="grp" ng-change="getSubGroups()" class = "form-control" ng-options="x as x.groupname for x in groups">
				    	</select>
				   		
				   		<label for="subgroup_name" class="control-label col-md-12 ">Sub-group Name :</label>
					    <select ng-model="subgrp" ng-change= "" class = "form-control" ng-options="x as x.subgroupname for x in subgroups">
					    </select>
					    
					    <label> <input type="checkbox"> Create Multiple Accounts</label>
					     
					    <label for="account_name" class="control-label col-md-12 ">Account Name :</label> 
					    <input ng-model="accname" class="form-control" type="text" />
					    
					    <label for="opening_balance" class="control-label col-md-12">Opening Balance :</label>
					    <input ng-model="openingbal" class=" form-control" type="text" placeholder="0.00"/>
					   
					    <div style="margin-top:10px">
					    	<button type="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>   
					    	<button class="btn btn-danger">Reset</button>
					    </div>
				    
				    </div> 
				</div>
			
		</form>
	</body>
</html>