<!DOCTYPE HTML >
<html>
<head>
<link href="../lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../lib/css/create_organisation_style.css" rel="stylesheet" type="text/css" />
<script src="../lib/js/angular.min.js"></script>
<style>
.content{ margin-top:4%
}
</style>
    


</head>
<body>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
		</div>
		<div id="selectorg" style="margin-top:50px;" class="mainbox col-md-6 pull-right">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Create Organisation</div>
                        
                    </div>    
                     <div style="padding-top:30px" class="panel-body" >
		
			<form ng-submit="create()">
				<div class="form-group">
					 <label for="orgName">Organisation Name</label>
					 <input name="orgname" class="form-control" ng-model="name" placeholder="Enter Organisation Name" id="orgName" type="text" data-validation-required-message="Please Enter Organisation Name" />
				</div>
				<div class="form-group">
					 <label for="orgCase">Case</label>
					 <select name="orgcase" class="form-control" id="orgCase">
					 <option value="As-Is">As-is</option>
					 <option value="Upper Case">Upper Case</option>
					 <option value="Lower Case">Lower Case</option>
					 </select>
				</div>
				<div class="form-group">
					 <label for="orgType">Organisation Type</label>
					 <select name="orgtype" class="form-control" ng-model="type" id="orgType" data-validation-required-message="Please select Organisation Type">
					 <option value="Profit Making">Profit Making</option>
					 <option value="Not For Profit">Not For Profit</option>
					 </select>
				</div>
				<div class="form-group">
           <label for="Fdate">Financial Year:</label>
          
              <div class="form-inline">
                     
                      <div class="form-group">
                          
                         <label class="sr-only" for="txt_day">Enter From Day</label> 
                         <input type="text" ng-model="fday" id="txt_fromday" name="from_day" class="form-control" style="width:60px"  placeholder="DD" >
                         
                      </div>
                     
                                    
                      <div class="form-group ">
                         
                        <label class="sr-only" for="txt_month">Enter From Month</label> 
                        <input type="text" ng-model="fmonth" id="txt_frommonth" name="from_month" class="form-control" style="width:60px"  placeholder="MM" >
                        
                      </div>
                      
                      <div class="form-group">
                        
                          <label class="sr-only" for="txt_year">Enter From Year</label> 
                          <input type="text" ng-model="fyear" id="txt_fromyear" name="from_year" class="form-control" style="width:65px"  placeholder="YYYY"  >
                       
                      </div>
                                          
                                           
                      <div class="form-group"><label>--To--</label></div>
                     
                     <div class="form-group">
                          
                         <label class="sr-only" for="txt_day">Enter To Day</label> 
                         <input type="text" ng-model="tday" id="txt_today" name="to_day" class="form-control" style="width:60px"  placeholder="DD" >
                         
                      </div>
                      
                      <div class="form-group ">
                         
                        <label class="sr-only" for="txt_month">Enter To Month</label> 
                        <input type="text" ng-model="tmonth" id="txt_tomonth" name="to_month" class="form-control" style="width:60px"  placeholder="MM"  >
                        
                      </div>
                     
                      <div class="form-group">
                        
                          <label class="sr-only" for="txt_year">Enter To Year</label> 
                          <input type="text" ng-model="tyear" id="txt_toyear" name="to_year" class="form-control" style="width:65px"  placeholder="YYYY"  >
                       
                      </div>
                                          
                      
                 </div>
                 <br />
                 <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    
                                     <button class="btn btn-success" id="btnSubmit" type="submit"><span class="glyphicon glyphicon-arrow-right"></span>Proceed</button>
                                      
						</div>
                                    
                                </div>
          
	</form>		
		
		</div>
		</div>
		
		</div>
	</div>
</div>


  
</body>