
<!DOCTYPE HTML >
<html>

<head>
<link href="../lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../lib/css/create_organisation_style.css" rel="stylesheet" type="text/css" />
<script src="../lib/js/angular.min.js"></script>

<style>
#subbutton{margin-top:2%}
</style>

</head>
<body>

    <div class="container">    
        <div id="selectorg" style="margin-top:50px;" class="mainbox col-md-6 pull-right">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Select Organisation</div>
                        
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                       
                            
                        <form ng-submit="showlogin()" id="orgform" class="form-horizontal">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
                                        <select ng-model="selectednameType" class = "form-control" id="org-name"  name = "orgname" placeholder="Select Organisation" ng-options="x as x.orgname+' , '+ x.orgtype for x in nameType" ng-change="getDetails()">
                                        	
                                        </select> 
                                                                              
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
                                         <select ng-model="selectedYears" class = "form-control" id="finalyears" name="financialYear" placeholder="Select Financial Year" ng-options="x as x.yearstart+' to '+ x.yearend for x in years" ng-change= "getOrgCode()">
                                        	
                                        </select> 
                                    </div>
                                    


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <button class="btn btn-success" type="submit"  accesskey="n" ><span class="glyphicon glyphicon-arrow-right"></span>Next</button>

                                    </div>
                                </div>
  
                            </form>     



                        </div>                     
                    </div>  
                     
        </div>
       
                                    
                             
           
    </div>
 <hr />    

    
</body>

</html>

