<!DOCTYPE HTML >
<html ng-app="orgs">
<head>
<link href="../lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../lib/css/create_organisation_style.css" rel="stylesheet" type="text/css" />

<style>
.content{ margin-top:4%
}
</style>
      
  

</head>
<body>

<nav class="nav navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >GNUKhata</a>
   
        </div>
  
  <div class="collapse navbar-collapse" id="navbar-ex-collapse">
  <ul class="nav navbar-nav navbar-right">
  
    <li class="active"><a class="navbar-brand" data-toggle="tab" href="#/about">About</a></li>
    <li><a data-toggle="tab" href="#/selectorg">Select Existing Organisation</a></li>
    <li><a data-toggle="tab" ng-click=".active = true" href="#/createorg">Create Organisation</a></li>

  </ul>
  </div>
  </div>
</nav>
<br />
<br />
<br />
  <div class="container" ng-view></div>
	<script src="../lib/js/angular.min.js"></script>
	<script src="../lib/js/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script type="text/javascript" src="../lib/js/angular-route.min.js"></script>
    <script type="text/javascript" src="../controller/organisationcontroller.js"></script>
   
  </body>
</html>