<!DOCTYPE html>
<html>
<script src="../lib/js/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 

<ul>
  <li ng-repeat="x in myData">
    {{ x.orgname + ', ' + x.orgtype }}
  </li>
</ul>

</div>

<script>
var app = angular.module('myApp', []);

app.controller('customersCtrl', function($scope, $http) {
  
  $http.get("http://127.0.0.1:6543/organisations").then(function (response) {
      $scope.myData = response.data;
  });
});
</script>

</body>
</html>

<!--    <script>
    $(document).ready(function()
    {
    $("#org-name").bind("change keyup", function(){
    //alert("click happened with selection " + $("#org-name option:selected").text());
    var org = $("#org-name option:selected").val(); 
    $.ajax({
            type: "POST",
        url: "{{ tg.url('/getFinancialYears') }}",
        data: {"orgname": org},  
        
         global: false,
        async: false,
        dataType: "json",
        success: function(jsonObj) {
            //alert(jsonObj["years"]),
         	ListofYears = jsonObj["years"],
         	//alert(ListofYears),
         	$('#finalyears').empty();
            for (i in ListofYears ) {
            $('#finalyears').append('<option value="' + ListofYears[i] + '">' + ListofYears[i][0]+" to "+ListofYears[i][1] + '</option>');
        }
            }
    
    });
    });
    $( "option:contains('(NGO)')" ).css( "color", "green");
	$( "option:contains('(Profit Making)')" ).css( "color", "blue" );
	$('#org-name').css('color','black');
   $("#org-name").bind("change keyup", function() {
      var current = $('#org-name option:selected').text();

      if (current.indexOf('(NGO)')==-1) {
          $('#org-name').css('color','blue');
      } else {
          $('#org-name').css('color','green');
      }
      if(current=="Please Select")
      {
      	$('#org-name').css('color','black');
      }
   }); 
    return false;
    });
    
    </script> -->
<!--    <script>
  	$('input:text:first,select').focus();
    
$('input:text,select').bind("keydown", function(e) {
   var n = $("input:text,select").length;
   var f = $('input:text,select'); 
   if (e.which == 13) 
   { 
    
     var nextIndex = f.index(this) + 1;
     if(nextIndex < n){
      e.preventDefault();
       f[nextIndex].focus();}
     
   }
});
  </script> -->